[project]
name = "<%= it.name.replace(/-/g, '_') %>_workspace"
version = "0.0.1"
description = "<%= it.description %>"
requires-python = ">=3.13"

[tool.uv.workspace]
members = ["<% if (it.options.languages.length > 1) { %>py/*<% } else { %>packages/*<% } %>"]
